body {
  margin: 0;
}

/*font-family: 'Poiret One', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Source Code Pro', monospace;*/

#social{
  position: absolute;
  top: 40px;
  right: 60px;
  letter-spacing: 5px;
}
.chron {
font-size: 50px;
padding-top: 100px;
text-align: left;
padding-left: 100px;
color: #AFD4DC;
}

header {
  height: 200px;;
  width: 100vw;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  /*color: inherit;*/
    border-bottom: 1px solid #AFD4DC;
    margin: 60px;
}

#navBar {
  padding-top: 70px;
  z-index: 0;
}

#navBar a {
  display: inline;
  color: grey;
  padding-right: 70px;
  text-decoration: none;
}

.portrait {
  margin-left: 60px;
  opacity: 0.8;
}

#columnLeft {
  float: left;
  /*width:500px;*/
}

.posts h3 {
  color: grey;
  font-size: 20px;
}

#posts {
  margin-top: 70px;
  position:absolute;
  margin-left: 140px;
}
#posts h2 {
  color: #BABABA;
  letter-spacing: 4px;
font-family: 'Poiret One', cursive;
  font-size: 30px;
}

#posts div {
  background-color: white;
  width: 100%;
  display: inline-block;
}

#rooftop {
  height:500px;
  width: 800px;
  /*margin-left:140px;*/
}

#posts h5 {
  letter-spacing: 4px;
font-family: 'Poiret One', cursive;

}

.columnRight {
float: right;
 width: 300px;
  margin-right: 100px;
}


.quoteBox {
  border-bottom: 0.5px solid grey;
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  letter-spacing: 2px;
   font-style: italic;
   text-align: center;
   color: #919191;
   padding-bottom: 20px;
}

.contents {
  text-align: center;
  color: #AFD4DC;
  border-bottom: 0.5px solid grey;
  padding-bottom: 20px;
  padding-top: 20px;
}

#list li {
font-family: 'Poiret One', cursive;
font-size: 20px;
text-decoration: none;
list-style-type: none;
text-align: left;
padding-left: 30px;
}

#list a {
  color: grey;
  text-decoration: none;
  list-style-type: none;
  line-height: 50px;
}

.subBox {
  background-color: #F3F3F3;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 25px;
  margin-top: 30px;
  padding-bottom: 35px;
}

.submitSection {
  border-bottom: 1px solid grey;
  padding-bottom: 35px;
  padding-left: 20px;
}

.subscribeTitle {
  font-size: 25px;
}

#emailBox {
  padding: 10px;
}

button {
  background-color: black;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

.smallPics {
  margin-bottom: 20px;
}

#smallPicContainer {
  margin-top: 20px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid grey;
}

#smallPicContainer div {
  background-color: white;
  width: 100%;
  display: inline-block;
}
#smallPicContainer img {
width: 130px;
height: 130px;
}

/*.pics {
  margin-bottom: 100px;
}*/

#bigPicContainer {
  float: left;
  margin-top: 200px;
  position: relative;
  border-bottom: 1px solid grey;
  margin-left: 130px;
}

#bigPicContainer div {
  background-color: white;
  width: 100%;
  display: inline-block;
}
#bigPicContainer img {
width: 400px;
height: 400px;
}

.traveldropdown {
  display: none;
  width: 300px;
}

.photodropdown {
  display: none;
  width: 300px;
}

.photodropdown li {
  border: 0.5px solid grey;
  padding: 10px;
  font-size: 18px;
font-family: 'Poiret One', cursive;
  list-style: none;
  background-color: none;
  text-align: center;
  opacity: .6;
  color: black;
  width: 279px;
}

.traveldropdown li {
   border: 0.5px solid grey;
   padding: 10px;
   font-size: 18px;
font-family: 'Poiret One', cursive;
   list-style: none;
   background-color: none;
   text-align: center;
   opacity: .6;
   color: black;
 }
