  <header>
    <h1> The Coffeebook Chronicles</h1>
    <nav>
      <a id="journal" ui-sref="journal">01 Journal</a>
      <a id="bio" ui-sref="bio">02 Bio</a>
      <a id="travels" ui-sref="travels">03 Travels</a>
      <a id="photographs" ui-sref="photographs">04 Photographs</a>
  </header>

<div id="page">
  <div class="columnleft">
<h3> journal post 1 </h3>
  </div>

  <div class="columnRight">
    <h3> journal post 1 </h3>

  </div>
</div>

  <footer>
<div id="footContainer">

</div>
  </footer>

</div>
